<div class="generate-article-container">
  <h2>Inscrire un article</h2>
  <form (ngSubmit)="generateArticle(articleForm)" #articleForm="ngForm">
    <div class="form-group">
      <label for="title">Titre de l'article</label>
      <input
        type="text"
        id="title"
        class="form-control"
        required
        name="title"
        ngModel
      />
      <div *ngIf="articleForm.form.controls['title']?.invalid && (articleForm.form.controls['title']?.dirty || articleForm.form.controls['title']?.touched)" class="alert alert-danger">
        Le titre est requis.
      </div>
    </div>
    <div class="form-group">
      <label for="author">Nom de l'auteur</label>
      <input
        type="text"
        id="author"
        class="form-control"
        required
        name="author"
        ngModel
      />
      <div *ngIf="articleForm.form.controls['author']?.invalid && (articleForm.form.controls['author']?.dirty || articleForm.form.controls['author']?.touched)" class="alert alert-danger">
        Le nom est requis.
      </div>
    </div>
    <button type="submit" class="btn-submit">Générer</button>
  </form>
</div>