<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GorafiAI</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <nav>
        <ul>
          <li><a routerLink="/articles">Les articles</a></li>
          <li><a routerLink="/articles">GorafiAI</a></li>
          <li><a routerLink="/generate-articles">Générer un article</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <div class="container">
      <p>Projet Universitaire - M1 MIAGE</p>
      <p>Mathéo Vasseur et Bastien Lefumeux</p>
    </div>
  </footer>
</body>
</html>
