<div class="articles-detail" *ngIf="article">
  <div class="articles-detail-text">
    <h1>{{ article.titre }}</h1>
    <p>{{ article.resume }}</p>
    <img [src]="article.photo" alt="{{ article.titre }}" class="articles-detail-image">
    <p>Contenu: {{ article.contenu }}</p>
    <p>Auteur: {{ article.auteur }}</p>
    <p>Date de création: {{ article.dateCreation | date: 'longDate' }}</p>
    <audio controls *ngIf="article.mp3">
      <source [src]="article.mp3" type="audio/mpeg">
      Votre navigateur ne supporte pas l'élément audio.
    </audio>
  </div>
</div>
